.layout-navbar {
    z-index: 0 !important
}

.btn-primary {
    margin: 5px 0 5px 0;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 21px;
    height: 21px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.menu-item-table::before {
    content: none !important;
}

.m-right-10 {
    margin-right: 10px;
}